h1 {
  font-size: 30px;
  font-family: "mooli", sans-serif;
  margin-left: 250px;
}
main img {
  width: 600px;
  height: 400px;
}

.imag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 25px;
}

.botox {
  margin-right: 20px;
  border-radius: 20px;
}
.botox img {
  border-radius: 25px;
}
.gluteo {
  margin-left: 20px;
}
.gluteo img {
  border-radius: 25px;
}
footer {
  margin-top: 80px;
}
