:root {
  --fonte-primaria: "mooli", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
  --fonte-terciaria: "Arial", Helvetica, sans-serif;
  --cor-primaria: #fdf7e4;
  --cor-secundaria: #ead7bb;
}

* {
  padding: 0px;
  margin: 0px;
}

.cabecalho {
  padding: 25px;
}

.cabecalho_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho_menu__link {
  padding: 10px 0px 0px 20px;
  font-family: var(--fonte-terciaria);
  font-size: 1.5rem; /*tamanho fonte links*/
  font-weight: 600; /*peso da fonte*/
  text-decoration: none; /*remove sublinhado links*/
  color: black;
}

.apresentacao__conteudo_P {
  font-family: var(--fonte-primaria);
  font-size: 1.5rem;
  font-weight: 100;
  padding: 30px 50px 30px 50px;
  text-align: justify;
  display: flex;
  align-items: center;
  text-indent: 70px; /*Espaçador primeira palavra*/
}

.apresentacao__conteudo__div {
  padding: 25px 10px 25px 10px;
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.apresentacao__conteudo__section {
  padding: 10px; /*Relativo aos Elementos*/
  width: 45%; /*tamanho da imagem*/
  display: flex;
  gap: 30px; /*distancia entre os itens*/
}

.apresentacao__img {
  border-radius: 50%; /*arredondamento da imagem*/
  width: 200px; /*largura da imagem*/
  height: 200px; /*Altura da imagem*/
  border: solid 1px rgb(76, 72, 72); /*borda ao redor da imagem*/
}

.apresentacao__conteudo__h3 {
  font-family: var(--fonte-primaria); /*estilo da fonte*/
  text-align: justify; /*alinhamento do texto*/
  font-size: 1.3rem; /*Tamanho da fonte*/
  font-weight: 5000; /*peso da fonte*/
  padding: 0px;
  margin: 35px 0px 0px 0px;
}

.div__imagem__clinica {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.imagem__clinica {
  display: inline-flex;
  border-radius: 20px;
  border: solid 1px;
  margin: 10px;
}
